@import "../../../variables.scss";

.container {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  height: auto;
  padding: 1rem;
  background-color: black;
  border: 2px solid $text_color;
}

.innerFrame {
  display: flex;
  border: 2px solid $text_color;
  width: auto;
  height: auto;
  object-fit: contain;
  filter: grayscale(1);
  max-width: 400px;
  margin-bottom: 1rem;
}
.about {
  color: $text_color;
  margin-left: auto;
  font-weight: 100;
}
.about > span {
  font-weight: 600;
  font-size: 1.3rem;
}

// @media screen and (min-width: 800px) {
//   .container {
//     display: none;
//   }
// }

// @media screen and (min-width: 800px) {
//   .container {
//     display: none;
//   }
// }
