@import "../../../variables.scss";
@import url("https://fonts.googleapis.com/css?family=Signika+Negative:300,400&display=swap");

.component {
  width: 100%;
  font-family: "Signika Negative", sans-serif;
  font-weight: 300;
  margin: 0;
  // padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  padding-bottom: 300px;
  // margin-bottom: 500px;
}

.h1 {
  // margin-bottom: 80vh;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: clamp(2.3rem, 5vw, 3.5rem) !important;
  margin-bottom: -180px;
  width: max-content;
}

.cards {
  // margin-left: 100px;
  width: 100%;
  // background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 200px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  align-items: center;

  gap: 200px;
  height: 400px;
  width: 600px;
  // margin-bottom: 50px;
  // background: white;
  background: $text_color;
  // background-color: red;
  font-size: 36px;
  border-radius: 5px;
  padding: 2rem;

  //   padding-top: 0.5rem;
  &:first-child {
    box-shadow: 0px 0px 30px 3px rgba(0, 0, 0, 0.3);
  }
}
.card {
  .head {
    display: flex;
    margin-bottom: 1rem;
    .title {
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
      font-family: "Red Hat Display";
      font-size: 1.5rem;
      font-weight: 900;
      color: black;
    }
    button {
      display: flex;

      margin-left: auto;
      background-color: black;
      color: $text_color;
      border: none;
      padding: 0.3rem 0.6rem;
      border-radius: 3px;
      transition: all 0.5s;
      height: min-content;

      cursor: pointer;
      a {
        all: unset;
      }
      .line {
        height: 1px;
        background-color: teal;
        width: 0px;
        transition: all 0.5s;
      }
      &:hover {
        box-shadow: teal 2px 2px 3px;
        transition: all 0.5s;

        .line {
          width: 100%;
          transition: all 0.5s;
        }
      }
    }
  }

  .body {
    display: flex;
    height: 100%;
    color: black;
    font-size: 1rem;
    width: 70%;
    font-weight: 800;
    font-family: Cardo;
  }
  .bottom {
    * {
      color: black;
    }
    .title {
      font-size: 1.3rem;
      font-weight: 800;
      font-family: "Red Hat Display";
      margin-bottom: 10px;
    }
    .tools {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      &:first-child {
        font-size: 1rem;
        font-weight: 700;
        // margin-bottom: 10px;
      }
      &:nth-child(2) {
        span {
          height: min-content;
          white-space: nowrap;
          background-color: teal;
          width: min-content;
          padding: 0.3rem 0.7rem;
          color: white;
          border-radius: 1rem;
          font-size: 1rem;
          margin-right: 10px;
          font-style: italic;
        }
      }
    }
  }
  .container2 {
    margin-top: 40px;
    width: 100%;
    height: 400px;
    border-top: 1px solid red;
  }
}

.tool {
  font-size: 1rem;
}
.container2 {
  // background-color: blue;
  margin-top: 40px;
  width: 100%;
  height: 400px;
}

@for $i from 1 to 12 {
  $wod: calc(30vh + #{(($i * 10) + px)});

  .card:nth-child(#{$i}) {
    top: $wod;
  }
}

@media screen and (max-width: 700px) {
  .card {
    width: 94%;
    padding: 1.3rem;
    height: 300px;
    border-radius: 1rem;
  }
  .body {
    width: 100% !important;
    text-align: center;
  }
  .bottom {
    .tools {
      gap: 5px;
    }
  }
  .tool {
    font-size: 0.8rem !important;
  }
  .title {
    margin-bottom: 10px;
  }
}
