$transparent_black: rgba(0, 0, 0, 0.4);
$box_height: 50px;
$box_width: 100px;
$ball_width: 20px;
$bar_height: 10px;
$bar_width: 100%;
@import "../../variables.scss";

.sections {
  display: flex;
  flex-direction: column;
  // position: fixed;
  align-items: flex-start;
  justify-content: flex-start;
  // background-color: red;
  width: 100vw;
  // overflow: hidden;
  overflow-x: hidden;
}
.section1 {
  // height: 100vh;
  // overflow: hidden;
}
.animations {
  top: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $text_color;
  // height: 100vh;
  overflow: hidden;
  width: 100vw;
  //   z-index: 2;
}
.animation1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 100svh;
  width: 100vw;
  position: relative;
  z-index: 2;
}
.title {
  position: absolute;
  color: $text_color;
  //   top: 0;
  top: 40%;
  font-size: 2rem !important;
}
.animation2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 100svh;
  width: 100vw;
  position: absolute;
  z-index: 2;
  //   display: none;
}
.box {
  position: relative;
  display: flex;
  flex-direction: column;
  height: $box_height;
  width: $box_height;
  background-color: red;
}

.ball {
  z-index: 0;
  align-self: center;
  background-color: $text_color;
  width: $ball_width;
  height: $ball_width;
  border-radius: 100%;
  position: absolute;

  //   animation-direction: alternate;
  //   animation-fill-mode: both;
}
.blackBall {
  //   z-index: 0;
  //   z-index: 10;
  //   visibility: hidden;
  opacity: 0;
  align-self: center;
  background-color: black;
  width: $ball_width;
  height: $ball_width;
  border-radius: 100%;
  position: absolute;

  //   display: none;
  //   animation-direction: alternate;
  //   animation-fill-mode: both;
}
.line {
  position: absolute;
  border-radius: 5px;
  align-self: center;
  margin-top: auto;
  transform: translateY(30px);
  width: 20px;
  height: 2px;
  background-color: $text_color;
  animation-duration: 0.6s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

.iycodes {
  font-size: clamp(5rem, 15vw, 14rem);
  font-weight: 900;
  // scale: 3;
  color: $text_color;
  mix-blend-mode: difference;
  // height: min-content;
  // position: fixed;
  // top: calc(50% - 3rem);
  letter-spacing: 3px;
  display: none;
  .a {
    @media screen and (max-width: 800px) {
      display: block;
      letter-spacing: 20px;
    }
  }
  .a {
    @media screen and (min-width: 801px) {
      display: none;
    }
  }
  .b {
    @media screen and (max-width: 800px) {
      display: none;
    }
  }
  .b {
    @media screen and (min-width: 801px) {
      display: block;
      letter-spacing: 3px;
    }
  }
  //   word-break: keep-all;
}
.iycodes2 {
  // font-size: 5.5rem;
  font-size: clamp(5rem, 15vw, 14rem);
  font-weight: 900;
  color: $text_color;
  mix-blend-mode: difference;
  height: min-content;
  position: absolute;
  // top: calc(50% - 3rem);
  letter-spacing: 15px;
  display: none;

  //   word-break: keep-all;
}

.bkg {
  position: absolute;
  bottom: 0;
  background-color: black;
  width: 100px;
  height: 100px;
}

.otherSections {
  // display: none;
  background-color: green;
  position: relative;
}

.cursorLabel {
  position: absolute;
  border-radius: 100%;
  height: 40px;
  width: 40px;
  background-color: $text_color;
  color: $text_color;
  mix-blend-mode: difference;
  z-index: 15;
  pointer-events: none;
}
.custom_pointer {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  // background-color: #;
  // background-color: red;
  position: absolute;
  z-index: 11;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 300;
  pointer-events: none;
}
