$dark1: rgb(21, 23, 18);
$dark2: rgb(34, 32, 26);
$pink1: rgb(255, 152, 162);

.layout {
  background-color: $dark1;
  width: 500px;
  color: white;
  padding: 1rem;
}
.layout .header {
  display: flex;
}
.layout .icons {
  display: flex;
  margin-left: auto;
  gap: 1rem;
}
.layout .iconBox {
  display: inline-flex;
  background-color: $dark2;
  padding: 8px;
  border-radius: 5px;
}
.layout .iconBox > svg {
  font-size: 1.5rem;
}

.layout > .line {
  width: 30%;
  height: 5px;
  //   background-color: pink1;
  background-color: $pink1;
  border-radius: 1px;
}
//
//
//
///
///
/// /
///
/// //
/// /
/// /////
/// //

@mixin devices($breakpoint) {
  //the name of the mixin is devices

  @if $breakpoint == tablet {
    @media only screen and (max-width: 680px) {
      @content;
    }
  }

  @if $breakpoint == mobile {
    @media only screen and (max-width: 481px) {
      @content;
    }
  }
}

.responsive {
  background: yellow;
  // The normal background color is set to yellow

  @include devices(tablet) {
    background: lightblue;
    // code set for tablet
  }

  @include devices(mobile) {
    background: aquamarine;
    h1 {
      color: red;
    }
    // code set for mobile
  }
}
