@import "../../../variables.scss";

.containerr {
  width: 500vw;
  height: 100svh;
  display: flex;
  flex-wrap: wrap;
  // gap: 10vw;
}
.entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: black;
}
.main {
  font-size: clamp(2rem, 10vw, 6rem) !important;
  font-weight: 800;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.arrow {
  // margin-top: auto;
}
.projects {
  display: flex;
}
.firstContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: orange;
}

.lastContainer {
  display: flex;
  height: 100vh;
  background: orange;
}

.panel {
  width: 100vw;
  height: 100lvh;
  padding: 2rem;
}
.red {
  background: blue;
}
.red {
  background: #808080;
}
.orange {
  background: orange;
}
.purple {
  background: purple;
}
.blue {
  background-color: black;
}
.project_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  height: 100svh;
  width: 100vw;
  padding: 2rem 10vw 1rem 10vw;
  max-height: 100vh;
  // background-color: $text_color;
  // background-color: red;
  backdrop-filter: blur(5px);

  // &:not(.lastContainer) {
  //   margin-left: 50px;
  //   margin-right: 50px;
  // }
  &:first-child {
    // margin-left: 0;
  }
  &:last-child {
    // margin-right: 0;
  }
}
.container2 {
  // background-color: black;
  background-color: darkcyan;
  background-color: darkslategrey;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  max-width: 1200px;
  overflow: hidden;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60dvh;
  width: 100%;
  // background-color: saddlebrown;
}
.shape1 {
  background-color: $text_color;
  // background-color: rgb(19, 19, 21);
  width: 100%;
  height: 80%;
  border-radius: 1rem;
  padding: 2rem 1rem;
  display: flex;
}

.shape2 {
  position: relative;
  background-color: $text_color;
  // background-color: rgb(19, 19, 21);
  height: 60px;
  width: 40%;
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
}
.shape2::before {
  content: "";
  position: absolute;
  // background-color: #0074d9;
  background-color: transparent;
  // bottom: -50px;
  top: 0px;
  left: -23px;
  height: 50px;
  width: 25px;
  border-top-right-radius: 25px;
  box-shadow: 0 -15px 0 0 $text_color;
  // box-shadow: 0 -15px 0 0 rgb(19, 19, 21);
}

.shape2::after {
  content: "";
  position: absolute;
  // background-color: #0074d9;
  background-color: transparent;
  // bottom: -50px;
  top: 0px;
  right: -23px;
  height: 50px;
  width: 25px;
  border-top-left-radius: 25px;
  box-shadow: 0 -25px 0 0 $text_color;
}
//
.imageCard1 {
  display: flex;
  width: 30%;
  height: 100%;
  background-color: rgb(173, 112, 215);
  border-radius: 1rem;
  align-items: center;
  justify-content: center;
}
.imageCard1 img {
  // object-fit: ;
  height: 80%;
  width: auto;
}
.imageCard2 {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30%;
  height: 100%;
  background-color: rgb(80, 206, 172);
  border-radius: 1rem;
  padding: 0.5rem;
}
.imageCard2 img {
  // object-fit: ;
  height: 70%;
  width: auto;
}

.shape1 .text {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  font-size: 1.5rem;
}
.text {
  * {
    color: black;
    font-family: "Red Hat Display";
    font-weight: 600;
  }
  h2 {
    font-weight: 800;
  }
}
.shape1 .text p {
  line-height: 2rem;
  text-align: center;
}
.details {
}

.tech_stack {
  position: relative;
  display: flex;
  padding: 1rem;
  justify-content: space-evenly;
}
.hori_line {
  display: flex;
  width: 2px;
  height: auto;
  background-color: $text_color;
}
.frontend,
.backend {
  display: flex;
  flex-direction: column;
  width: 48%;
  text-align: center;
  // background-color: green;
}

.frontend .title,
.backend .title {
  font-weight: 700;
}

.desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
}

.vert_line {
  height: 2px;
  width: 100%;
  background-color: $text_color;
}
.desc .text {
  margin-top: 10px;
  line-height: 1.3rem;
  overflow: hidden;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .containerr {
    display: none;
  }
}

// @media screen and (max-width: 700px) {
//   .imageCard1 {
//     display: none;
//   }
//   .card {
//     height: 52lvh;
//   }
//   .shape1 {
//     padding: 1rem;
//   }
//   .shape1 .text {
//     width: 55%;
//     padding: 0.4rem;
//     padding-left: 2px;
//     font-size: 0.9rem;
//   }
//   .shape1 .text p {
//     line-height: 1.5rem;
//   }
//   .imageCard2 {
//     width: 45%;
//   }
//   .shape2 {
//     height: 40px;
//   }
//   .tech_stack {
//     flex-direction: column;
//     width: 100%;
//     // background-color: blue;
//   }
//   .frontend,
//   .backend {
//     width: 100%;
//     text-align: start;
//   }
//   .backend > div {
//     margin-left: auto;
//     // background-color: aqua;
//   }
//   .desc .text {
//     display: none;
//   }
//   .project_container {
//     padding: 1rem 1rem 10px 1rem;
//   }
// }
