@import "../../../variables.scss";
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  // gap: 2rem;
  background-color: black;
  padding: 0px 2rem;
  padding-top: 150px;
  position: relative;
}
.title {
  position: absolute;
  top: 0px;
  font-size: clamp(2rem, 8vw, 4.5rem);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  // max-width: 60%;
  width: 55%;
  padding: 0px !important;
}
.form > * {
  max-width: 500px;
  // width: 400px;
  width: 100%;
  padding: 0.7rem;
  background-color: #000;
  color: $text_color;
  letter-spacing: 1px;
  outline: none;
  border: 1.5px solid rgba(227, 246, 247, 0.6);
  border-radius: 5px;
}
// .form > textarea {
//   max-width: 400px;
//   width: 400px;

//   background-color: #000;
//   color: $text_color;
//   letter-spacing: 1px;
//   outline: none;
//   padding: 0.5rem;
//   border: 2px solid rgba(227, 246, 247, 0.6);
//   border-radius: 5px;
// }
.form > input:focus,
.form > textarea:focus {
  border: 1.5px solid rgba(0, 128, 128, 0.5);
  box-shadow: rgba(0, 128, 128, 0.6) 0px 2px 5px -1px,
    rgba(0, 128, 128, 0.6) 0px 1px 3px -1px;
  //   box-shadow: rgba(0, 128, 128, 0.6) 0px 3px 8px;
}

.send_button {
  margin-top: 15px;
  height: 40px;
  width: 100%;
  padding: 0px !important;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  background-color: teal;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.send_button:hover {
  opacity: 0.85;
}
.alt_send_button {
  //   display: flex;
  //   flex-direction: column;
  width: 100%;
  height: 40px;
  transition: all 0.2s ease-in-out;
}
.alt_send_button > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}
// .send_icon {
// }
.send_text {
  //   margin-top: 20px;
  font: 700 12px "Lato", sans-serif;
  letter-spacing: 2px;
}

.alt_send_button:hover {
  transform: translate3d(0px, -39px, 0px);
}

.more {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  //   width: fit-content;
  width: 45%;
  margin-left: 2rem;
  //   background-color: red;
}

.more > div:not(:last-child) {
  opacity: 0.7;
}
.more > div > span {
  font-size: 1.4rem;
}
.more > div > span:nth-child(1) {
  margin-right: 3rem;
  margin-top: 20px !important;
}
.socials_container {
  display: flex;
  flex-direction: column;
}
.socials {
  display: inline-flex;
  position: relative;
  opacity: 1 !important;
  border: 2px dashed rgba(227, 246, 247, 0.7);
  border-left: none;
  border-right: none;
  gap: 1rem;
  padding: 2rem 0px;
  //   width: fit-content;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

/* Icons */

.socials > a {
  //   margin-right: 1rem;
  color: #fff;
  background: teal;
  border-radius: 100%;
  text-align: center;
  text-decoration: none;
  font-family: fontawesome;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-font-smoothing: antialiased;
}

.socials > a:hover {
  //   background: ;
  opacity: 0.7;
}

.socials > a span {
  color: #666;
  position: absolute;
  font-family: sans-serif;
  bottom: 0;
  left: -25px;
  right: -25px;
  padding: 5px 7px;
  z-index: -1;
  font-size: 14px;
  border-radius: 2px;
  background: #fff;
  visibility: hidden;
  opacity: 0;
  -o-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* pop-up text arrow */

.socials > a span:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  position: absolute;
  bottom: -5px;
  left: 40px;
}

/* text pops up when icon is in hover state */

.socials > a:hover span {
  bottom: 50px;
  visibility: visible;
  opacity: 1;
}
.copyright {
  opacity: 0.4 !important;
  align-self: center;
}

@media screen and (max-width: 800px) {
  .container {
    flex-direction: column;
    align-items: center;
    gap: 100px;
    padding: 0px 1rem;
    padding-top: 50px;
  }
  .form > * {
    max-width: 500px;
    width: 100%;
  }
  .form {
    max-width: 500px;
    width: 100%;
  }

  .more {
    max-width: 500px;
    width: 100%;
    margin-left: 0px;
  }
  .more > div > span:nth-child(1) {
    margin-right: 5rem;
    margin-top: 20px !important;
  }
}
